.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the div take up the full viewport height */
    width: 100vw; /* Make the div take up the full viewport width */
    background-image:  url('../public/images/ddn-bg.jpeg');
    background-size: cover; 
    background-position: center;
}

.home-button{
    font-size: 22px;
    font-weight: bold;
    background-color: #94849c;
    border: none;
    padding: .6em 1.2em;
}

.home-button:hover{
    background-color: #3c152a;
    border: solid;
    border-color: #94849c;
}